In [1]:
from IPython.display import display, HTML
display(HTML("""
<style>
div.container{width:95% !important;}
div.cell.code_cell.rendered{width:100%;}
div.input_prompt{padding:0px;}
div.CodeMirror {font-family:Consolas; font-size:22pt;}
div.text_cell_render.rendered_html{font-size:18pt;}
div.output {font-size:22pt; font-weight:bold;}
div.input {font-family:Consolas; font-size:22pt;}
div.prompt {min-width:70px;}
div#toc-wrapper{padding-top:120px;}
div.text_cell_render ul li{font-size:22pt;padding:5px;}
table.dataframe{font-size:22px;}
</style>
"""))

<b><font size="7" color="red">ch05. 함수</font></b>
- 반복해서 사용할 코드를 묶어 놓고 그것에 이름을 붙인 것
- 오버로딩 불가(같은 이름의 함수는 덮어씀)
- 함수 정의
```
def 함수명([매개변수1, 매개변수2, ..]):
    명령어1
    명령어2.....
```
# 1절 함수의 정의 및 사용
## 1.1 함수 정의

In [2]:
def my_message(x, msg): # msg를 x번 출력하는 함수 정의
    for i in range(x):
        print(i, msg)

In [3]:
# 함수 사용 == 함수 호출
my_message(3, 'Hello')

0 Hello
1 Hello
2 Hello

In [4]:
# 함수 이름 변경
my_msg = my_message
my_message(2, 'Hello')
my_msg(3, 'Python')

0 Hello
1 Hello
0 Python
1 Python
2 Python

In [5]:
type(my_msg), type(my_message)

(function, function)

In [6]:
print('Hello') # 파이썬 내장 함수(import 하지 않고 사용할 수 있는 함수)
print = 5
print('Hello')

Hello

TypeError: 'int' object is not callable

In [10]:
del print
print('Hello')

Hello

In [11]:
my_message(2, 'Hello')

0 Hello
1 Hello

In [12]:
my_message = 5
my_msg(2, 'Hello')

0 Hello
1 Hello

In [13]:
my_message(2, 'Hello')

TypeError: 'int' object is not callable

In [14]:
del my_message # 변수및 함수 제거하여도
my_message(2, 'Hello')# 사용자 정의함수, 라이브러리 함수는 사용불가

NameError: name 'my_message' is not defined

In [15]:
# 함수 중복 정의 불가(오버로딩 불가)
def my_hello():
    print('Hello Python')
    print('Hello world')
def my_hello(cnt): # cnt번 출력
    for i in range(cnt):
        print('Hello, Python', end="\t")
        print('Hello, World')

In [16]:
my_hello()

TypeError: my_hello() missing 1 required positional argument: 'cnt'

In [17]:
my_hello(2)

Hello, Python	Hello, World
Hello, Python	Hello, World

In [18]:
my_hello

In [19]:
__name__

'__main__'

In [20]:
if __name__ == '__main__':
    my_hello(2)

Hello, Python	Hello, World
Hello, Python	Hello, World

In [1]:
import ch05 # ch05모듈이 해석되서 메모리 로드

In [2]:
ch05.my_hello(3)

ch05
Hello, Python	Hello, World
Hello, Python	Hello, World
Hello, Python	Hello, World

In [4]:
from ch05 import my_hello # ch05모듈안의 my_hello만 메모리 로드

In [5]:
my_hello(3)

ch05
Hello, Python	Hello, World
Hello, Python	Hello, World
Hello, Python	Hello, World

## 1.2 docstring

In [6]:
def my_function():
    """
    함수의 첫 라인에 독스트링을 포함할 수 있습니다
    독스트링은 함수의 설명서를 달아주는 역할
    주석보다 많은 기능(함수 호출시 shift+tab으로 독스트링을 볼 수 있음)
    """
    pass

In [8]:
print(my_function.__doc__)

    함수의 첫 라인에 독스트링을 포함할 수 있습니다
    독스트링은 함수의 설명서를 달아주는 역할
    주석보다 많은 기능(함수 호출시 shift+tab으로 독스트링을 볼 수 있음)

In [9]:
def fibonacci(n):
    '''
    매개변수로 들어온 n값 미만의 피보나치 수열을 출력하는 함수
    ex. n=10 : 0 1 1 2 3 5 8 
       n=100 : 0 1 1 2 3 5 8 13 21 34 55 89
    '''
    a, b = 0, 1 # 함수 내에 선언한 변수 : 지역변수 (반:전역변수)
    while a < n:
        print(a, end=' ')
        a, b = b, a+b
    print() # 개행

In [13]:
fibonacci(10000)

0 1 1 2 3 5 8 13 21 34 55 89 144 233 377 610 987 1597 2584 4181 6765

In [16]:
a, b # 지역변수는 함수내에서만 사용가능

NameError: name 'a' is not defined

## 1.3 지역변수(local var)와 전역변수(global var)

In [17]:
global_var = 100 
def func1():
    print('함수안 :', global_var)
func1()
print('함수밖 :', global_var)

함수안 : 100
함수밖 : 100

In [18]:
def func2():
    local_var = 200 # 지역변수(함수내에서 할당)
    print('함수안 :', local_var)
func2()

함수안 : 200

In [20]:
# print('함수밖에서 지역변수 :', local_var) # 에러

In [21]:
g_var = 100 # 전역변수
def func3():
    g_var = 200 # 지역변수 (함수내에서 할당)
    print('지역변수 g_var :', g_var)
func3()
print('전역변수 g_var :', g_var)

지역변수 g_var : 200
전역변수 g_var : 100

In [22]:
# 렉시컬 특성 : 변수가 어디서 선언되었는지에 따라 
# 변수의 범위가 정해짐(지역vs전역)
g_var = 100 # 전역변수
def func3():    
    print('지역변수 g_var :', g_var)
    g_var = 200 # 지역변수 (함수내에서 할당)
func3()
print('전역변수 g_var :', g_var)

UnboundLocalError: local variable 'g_var' referenced before assignment

In [29]:
# 렉시컬 특성 
g_var = 100 # 전역변수
def func3():   
    global g_var # 함수내에서의 g_var는 전역변수를 쓰겠다
    print('전역변수 g_var :', g_var)
    g_var = 200 # 전역변수 g_var에 200할당
func3()
print('전역변수 g_var :', g_var)

전역변수 g_var : 100
전역변수 g_var : 200

## 1.4 값에 의한 호출
- 함수에 인수로 전달되는 변수가 스칼라변수(문자, 숫자, 논리형)일 때

In [32]:
foo = 'a' # 전역변수
id(foo)

2187739948848

In [33]:
def func1(f): # 매개변수는 지역변수
    print('Before :', f, '의 주소는 ', id(f))
    f = f*3 
    print('After :', f, '의 주소는 ', id(f))
func1(foo)

Before : a 의 주소는  2187739948848
After : aaa 의 주소는  2187817289008

In [34]:
print('foo = ', foo, '의 주소는',id(foo))

foo =  a 의 주소는 2187739948848

## 1.5 참조에 의한 호출
- 함수에 인수로 전달되는 변수가 리스트, 튜플, 셋, 딕셔너리, 기타 객체일 경우

In [43]:
L = [1, 2, 3, 4, 5]
id(L)

2187852452224

In [45]:
def func2(f): # 매개변수는 지역변수
    print('Before :', f, '의 주소는 ', id(f))
    f.append(6)
    print('After :', f, '의 주소는 ', id(f))
func2(L)

Before : [1, 2, 3, 4, 5] 의 주소는  2187852452224
After : [1, 2, 3, 4, 5, 6] 의 주소는  2187852452224

In [37]:
print('L=', L, '의 주소는', id(L))

L= [1, 2, 3, 4, 5, 6] 의 주소는 2187852077632

# 2절 함수의 실행결과를 반환하는 return

In [39]:
def fibonacci_print(n):
    '매개변수로 들어온 n값 미만의 피보나치 수열을 출력하는 함수'
    a, b = 0, 1 # 함수 내에 선언한 변수 : 지역변수 (반:전역변수)
    while a < n:
        print(a, end=' ') # 출력
        a, b = b, a+b
    print() # 개행
def fibonacci(n):
    "n미만의 피보나치수열을 리스트로 return"
    result = [] # 피보나치수열을 append할 리스트
    a, b = 0, 1
    while a<n:
        result.append(a) # 리스트에 append
        a, b = b, a+b
    return result

In [41]:
x = fibonacci(10)
print(x)
print(type(x))

[0, 1, 1, 2, 3, 5, 8]
<class 'list'>

In [42]:
x = fibonacci_print(10)
print('x=',x)
print(type(x))

0 1 1 2 3 5 8
x= None
<class 'NoneType'>

### 여러개 값 return
- 여러개값을 갖는 튜플로 return

In [46]:
def swap(a, b):
    '매개변수의 순서를 바꿔서 return'
    return b, a # return (b, a)

In [48]:
x = 5; y = 10
print('함수 실행 전 x, y =', x, y)
x, y = swap(x, y)
print('함수 실행 후 x, y =', x, y)

함수 실행 전 x, y = 5 10
함수 실행 후 x, y = 10 5

# 3절 함수의 매개변수 ★
## 3.1 기본값을 갖는 매개변수

In [53]:
def make_url(ip, port=80): # 순서인수 > 기본값을갖는매개변수
    return "http://{}:{}".format(ip, port)

In [54]:
print(make_url("localhost", 8090))
print(make_url("www.naver.com"))
print(make_url(port=9090, ip="localhost"))

http://localhost:8090
http://www.naver.com:80
http://localhost:9090

In [56]:
# def make_url(port=80, ip):  # 순서인수 > 기본값을갖는매개변수 순으로 배치
#     return "http://{}:{}".format(ip, port) 에러남

## 3.2 기본변수를 갖는 매개변수
- 기본변수가 스칼라변수(문자, 숫자, 논리형)일 때
- 기본변수가 리스트, 셋, 딕셔너리, 기타 객체일 때

In [58]:
i = 80
# 기본변수가 스칼라변수일 때 : 함수가 정의되는 시점으로 기본값 셋팅
def make_url(ip, port=i):
    return "http://{}:{}".format(ip, port)

In [61]:
i = 99999
make_url("localhost")

'http://localhost:80'

In [62]:
list_ = []
# 기본변수가 리스트, 셋, 딕셔너리, 객체일 때 : 함수가 실행되는시점으로 기본값 셋팅
def func3(a, L=list_):
    L.append(a)
    return L
print(func3(10))

[10]

In [63]:
print(func3(20))

[10, 20]

In [64]:
print("list_ =", list_)

list_ = [10, 20]

In [65]:
print(func3(50))

[10, 20, 50]

In [72]:
# 실행할 때마다 L을 공유하는게 싫으면
def func3(a, L=None):
    if L is None:
        L = []
    L.append(a)
    return L
print(func3(10))
print(func3(10))
print(func3(10))
print(func3(10, [1,2,3]))
print(func3(10))

[10]
[10]
[10]
[1, 2, 3, 10]
[10]

## 3.3 순서인수, 키워드인수
- 순서인수 : 함수에 정의된 순서대로 전달방식
- 키워드인수 : 인수의 이름을 명시하는 방식
- 함수 정의시 순서인수와 키워드인수가 같이 올 때는 순서인수 > 키워드인수 순으로

In [77]:
def func3(a, L=None):
    if L is None:
        L = []
    L.append(a)
    return L

In [81]:
lst = []
print(func3(10, lst))     # 순서인수 : 함수 정의된 순서대로 전달하는 방식
print(func3(L=lst, a=20)) # 키워드인수 : 인수의 이름을 명시하여 전달하는 방식

[10]
[10, 20]

## 3.4 튜플매개변수를 이용한 가변인수 설정
- 가변인수 : 매개변수의 갯수가 가변

In [86]:
# 파이썬은 함수의 중복정의(오버로딩)을 지원하지 않음
def add(a, b):
    return a+b
def add(a, b, c):
    return a+b+c

In [87]:
add(3, 5)

TypeError: add() missing 1 required positional argument: 'c'

In [97]:
# args앞에 * : args가 튜플로 전달받는다
def add(*args):
    # print('args =', args)
    '전달받은 매개변수들의 합을 return. 매개변수가 없는 경우 0을 return'
    sum = 0 # 누적변수
    for num in args:
        sum += num # sum = sum+num
    return sum

In [100]:
print(add())
print(add(1))
print(add(1, 3))
print(add(1, 2, 5, 7, 9, 1))

0
1
4
25

In [103]:
subject = ('Python', 'web', 'JavaScript', 'DBMS')
'-'.join(subject)

'Python-web-JavaScript-DBMS'

In [104]:
# 튜플 매개변수와 일반 매개변수가 같이 있을 때
def concat(*subject, sep):
    return sep.join(subject)

In [105]:
concat('Python', 'web', 'JavaScript', 'DBMS', '-')

TypeError: concat() missing 1 required keyword-only argument: 'sep'

In [106]:
# 해결책1 : 매개변수 이름을 지정해서 호출
concat('Python', 'web', 'JavaScript', 'DBMS', sep='-')

'Python-web-JavaScript-DBMS'

In [112]:
# 해결책2 : 기본값을 갖는 키워드인수 사용
def concat(*subject, sep=' ~ '): # 튜플매개변수 > 키워드인수
    return sep.join(subject)
print(concat('Python', 'Web', 'JS', 'DBMS', '-'))
print(concat('Python', 'Web', 'JS', 'DBMS', sep='-'))

Python ~ Web ~ JS ~ DBMS ~ -
Python-Web-JS-DBMS

In [114]:
print('python', 'web', 'js', sep='=')

python=web=js

In [129]:
# 해결책3 : sep을 순서인수로 앞으로 (추천)
def concat(sep, *subject):
    return sep.join(subject)

In [116]:
concat('~', 'Python', 'Web', 'DB', 'MLDL')

'Python~Web~DB~MLDL'

## 3.5 딕셔너리 매개변수
- 딕셔너리 인수 : 여러개의 키워드 인수를 딕셔너리 형태로 받아서 가변인수로 처리

In [155]:
def func5(**args):
    '''딕셔너리 매개변수로 받아 address 키가 없으면 서울시 관악구로 추가하고
    키-값을 출력'''
    print(args)
    print(type(args))
    if 'address' not in args: # args에 address 키가 없으면 if문 True
        # args['address'] = '서울시 관악구'
        # args.update({'address':'서울시 관악구'})
        args.update(address='서울시 관악구')
    for key, value in args.items():
        print("{} : {}".format(key, value))

In [156]:
func5(nam='홍길동', 
      age=30, 
      tel='010-9999-9999')

{'nam': '홍길동', 'age': 30, 'tel': '010-9999-9999'}
<class 'dict'>
nam : 홍길동
age : 30
tel : 010-9999-9999
address : 서울시 관악구

## 3.6 함수 정의시 매개변수의 순서
- 순서인수 > 튜플인수(*) > 키워드인수(기본값) > 딕셔너리인수(**)

In [157]:
# 순서인수 > 튜플인수 > 딕셔너리인수
def func6(a, b, *c, **d):
    print('순서인수 a = ', a)
    print('순서인수 b = ', b)
    print('튜플인수 c = ', c)
    print('딕셔너리인수 d = ', d)

In [162]:
func6(10, 20, 1,2,3,4,5,6,7,8,9,'a','b',True, name='홍', age=30, address='신림')

순서인수 a =  10
순서인수 b =  20
튜플인수 c =  (1, 2, 3, 4, 5, 6, 7, 8, 9, 'a', 'b', True)
딕셔너리인수 d =  {'name': '홍', 'age': 30, 'address': '신림'}

In [163]:
# 순서인수 > 튜플인수(*) > 키워드인수(기본값) > 딕셔너리인수(**)
def func7(a, b, c, *d, e=10, **f):
    print('순서인수 a =', a)
    print('순서인수 b =', b)
    print('순서인수 c =', c)
    print('튜플인수 d =', d)
    print('키워드인수(기본값 10) e =', e)
    print('딕셔너리인수 f =', f)

In [167]:
func7(10, 20, 30, e=100)

순서인수 a = 10
순서인수 b = 20
순서인수 c = 30
튜플인수 d = ()
키워드인수(기본값 10) e = 100
딕셔너리인수 f = {}

In [166]:
func7(10, 20, 30)

순서인수 a = 10
순서인수 b = 20
순서인수 c = 30
튜플인수 d = ()
키워드인수(기본값 10) e = 10
딕셔너리인수 f = {}

In [165]:
func7(10, 20, 30, 1,2,3,4,5, e=100, shape='rect', width=20, height=30)

순서인수 a = 10
순서인수 b = 20
순서인수 c = 30
튜플인수 d = (1, 2, 3, 4, 5)
키워드인수(기본값 10) e = 100
딕셔너리인수 f = {'shape': 'rect', 'width': 20, 'height': 30}

## 3.7 인수의 언패킹
### 튜플인수 언패킹
- 언패킹 : 함수 호출시 매개변수 앞에 * 붙임
- 패킹 : 함수 정의시 매개변수앞에 * 붙임(튜플매개변수)

In [173]:
def add(*args):
#    print(args)
    sum = 0
    for num in args:
        sum += num
    return sum

In [174]:
add(1, 2, 3)

6

In [177]:
numbers = (1, 2, 3)
add( *numbers )

6

### 딕셔너리 인수 언패킹
- 언패킹 : 함수 호출시 매개변수 앞에 ** 붙임
- 패킹 : 함수 정의시 매개변수앞에 ** 붙임(튜플매개변수)

In [178]:
def func8(**data):
    print(data)
    for item in data.items():
        print(item)

In [180]:
func8(shape='rect', width=40, height=30)

{'shape': 'rect', 'width': 40, 'height': 30}
('shape', 'rect')
('width', 40)
('height', 30)

In [182]:
info = {'shape':'rect', 'width':40, 'height':30}
func8(**info)

{'shape': 'rect', 'width': 40, 'height': 30}
('shape', 'rect')
('width', 40)
('height', 30)

# 4절 람다식
- return 한 줄짜리 작은 익명함수
## 4.1 람다식 연습

In [4]:
def add(a, b):
    return a+b
print(add(3, 5))
print(type(add))

8
<class 'function'>

In [6]:
add2 = lambda a, b : a + b
print(add2(3, 5))
print(type(add2))

8
<class 'function'>

In [13]:
# ex1. 매개변수로 들어온 값이 짝수인지 홀수인지 return하는 함수를 람다식으로 만들어보세요
def even_odd_chk(num):
#     if num%2:
#         result = "홀수"
#     else:
#         result = "짝수"
    return "홀수" if num%2 else "짝수"
even_odd_chk1 = lambda num : "홀수" if num%2 else "짝수"
even_odd_chk(5), even_odd_chk1(-4)

('홀수', '짝수')

In [17]:
# ex2. 두 매개변수의 차이를 return하는 함수를 람다식으로 만들어 보세요
def diff(a, b):
    if a>b:
        result = a-b
    else:
        result = b-a
    return result
diff = lambda a, b : a-b if a>b else b-a
diff(5, 1), diff(1, 5)

(4, 4)

In [20]:
# ex3. 매개변수로 잔액을 받아, 잔액이 0이상면 잔액을 return, 음수면 'negative'를 return
ex3 = lambda balance : balance if balance>=0 else 'negative'
ex3(1000), ex3(-100)

(1000, 'negative')

In [23]:
# ex4. 점수를 입력받아 80점이상은 'A팀', 60점이상은 'B팀', 60점미만은 '재시험'
                     # 100점초과, 0점미만은 '유효하지 않음'을 return
def levelChk(score):
    if 80<=score<=100:
        return 'A팀'
    elif 60<=score<80:
        return 'B팀'
    elif 0<=score<60:
        return '재시험'
    else:
        return '유효하지 않음'
ex4 = lambda score : 'A팀' if 80<=score<=100 else \
                     'B팀' if 60<=score<80 else \
                     '재시험' if 0<=score<60 else \
                     '유효하지 않음'
levelChk(8), ex4(160)

('재시험', '유효하지 않음')

In [24]:
# 점수를 입력받아 학점을 return
score_grade = lambda score : 'A학점' if 90<=score<=100 else \
                             'B학점' if 80<=score<90 else \
                             'C학점' if 70<=score<80 else \
                             'D학점' if 60<=score<70 else \
                             'F학점' if 0<=score<60 else \
                             '유효하지 않는 점수'
score_grade(60), score_grade(120)

('D학점', '유효하지 않는 점수')

In [27]:
# ex5 safe_index함수를 람다식으로
def safe_index(lst, item, start=0):
    return lst.index(item, start) if item in lst[start:] else -1
#     if item in lst[start:]:
#         return lst.index(item, start) # start번째부터 item이 있는 index를 반환
#     else:
#         return -1
ex5 = lambda lst, item, start=0 : lst.index(item, start) if item in lst[start:] else \
                                  -1
i = 3
lst = [i, 2, 3]
safe_index(lst, 4), ex5(lst, 3, 1)

(-1, 2)

In [37]:
# 람다식을 list에 들어갈 수 있음
add = lambda a, b : a + b
sub = lambda a, b : a - b
mul = lambda a, b : a * b
div = lambda a, b : a / b if b else '두번째 인자가 0이면 못 나눠요'
operations = [add, sub, mul, div] # 사칙연산 함수들

def act_operations(a, b, operations=operations): # a,b의 연산 결과를 return
    result = []
    for op in operations:
        result.append(op(a, b))
    return result

act_operations(20, 5)

[25, 15, 100, 4.0]

In [31]:
act_operations(8, 2, [lambda x,y : x**y, lambda x,y : 10*x+y])

[64, 20]

In [32]:
(lambda x,y : 10*x+y)(5,3)

53

In [33]:
operations.append(lambda x, y : x**y)
len(operations)

5

In [34]:
act_operations(8, 2) # 기본값을 갖는 변수(기본 변수)가 리스트면 기본값은 호출할 시점

[10, 6, 16, 4.0, 64]

## 4.2 함수의 매개변수(인수)에 람다식 사용
- 람다식을 사용하는 곳 : 함수의 매개변수 > return 문
### (1) map

In [44]:
def map_template(func, L=[]):
    result = []
    for item in L:
        result.append( func(item) )
    return result

In [47]:
list_data = [1,2,3,4,5,6,7,8,9]
# def x_2(x):
#     return x*2
x_2 = lambda x : x*2
map_template(x_2, list_data)

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [50]:
map_template(lambda x:x*2, list_data)

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [54]:
# 리스트 컴프리헨션
[item*2 for item in list_data]

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [56]:
list(map(lambda x:x*2, list_data))

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [57]:
for data in map(lambda x:x*2, list_data):
    print(data, end=' ')

2 4 6 8 10 12 14 16 18

In [20]:
'''
예제 1. prices = ['5,000', '5000', '6,000', '1000','5,000', '5000', '6,000',
'1000’]를 [5000,5000,6000,1000]식으로 바꾸시오
'''
prices = ['5,000', '5000', '6,000', '1000','5,000', '5000', '6,000','1000']
def toint(value):
    return int(value.replace(',',''))
prices_int = map(lambda value : int(value.replace(',','')), prices)
for price in prices_int:
    print(price, end=' ')

5000 5000 6000 1000 5000 5000 6000 1000

In [21]:
'''예제2 : members1을 members2로 
members1 = [{'name':'홍길동', 'birth':'2000-01-01’},
            {'name':'신길동', 'birth':'1995-12-18'},]
    members2 = [
         {'name':'홍길동', 'year':2000, 'month':1,'day':1},
        {'name':'신길동', 'year':1995, 'month':12, 'day':18},]
'''

"예제2 : members1을 members2로 \nmembers1 = [{'name':'홍길동', 'birth':'2000-01-01’},\n            {'name':'신길동', 'birth':'1995-12-18'},]\n    members2 = [\n         {'name':'홍길동', 'year':2000, 'month':1,'day':1},\n        {'name':'신길동', 'year':1995, 'month':12, 'day':18},]\n"

In [22]:
members1 = [{'name':'홍길동', 'birth':'2000-01-01'},
            {'name':'신길동', 'birth':'1995-12-18'},]

In [23]:
# '2025-01-01' => {'year':2000, 'month':1,'day':1} 
def split_date(date):
    split_date = date.split('-')
    return {
        'year': int(split_date[0]),
        'month':int(split_date[1]),
        'day':int(split_date[2])
    }
split_date('2025-01-01'), split_date('1995-12-12')

({'year': 2025, 'month': 1, 'day': 1}, {'year': 1995, 'month': 12, 'day': 12})

In [24]:
# '2025-01-01' => {'year':2000, 'month':1,'day':1} 
def split_date(date):
    return {
        'year': int(date.split('-')[0]),
        'month':int(date.split('-')[1]),
        'day':int(date.split('-')[2])
    }
split_date('2025-01-01'), split_date('1995-12-12')

({'year': 2025, 'month': 1, 'day': 1}, {'year': 1995, 'month': 12, 'day': 12})

In [25]:
# {'birth':'2025-01-01'} => {'year':2000, 'month':1,'day':1} 
def split_date(data):
    return {
        'year': int(data['birth'].split('-')[0]),
        'month':int(data['birth'].split('-')[1]),
        'day':int(data['birth'].split('-')[2])
    }
split_date({'birth':'2025-01-01'})

{'year': 2025, 'month': 1, 'day': 1}

In [26]:
# {'name':'홍길동', 'birth':'2000-01-01’}=>{'name':'홍길동', 'year':2000, 'month':1,'day':1}
def member_preprocessing(member):
    return {
        'name' : member.get('name','이름없음'), #member['name']
        'year' : int(member.get('birth').split('-')[0]),
        'month': int(member.get('birth').split('-')[1]),
        'day'  : int(member.get('birth').split('-')[2]),
    }
member_preprocessing({'name':'홍길동', 'birth':'2000-01-01'})

{'name': '홍길동', 'year': 2000, 'month': 1, 'day': 1}

In [27]:
members2 = list(map(lambda member : {
                                'name' : member.get('name','이름없음'), 
                                'year' : int(member.get('birth').split('-')[0]),
                                'month': int(member.get('birth').split('-')[1]),
                                'day'  : int(member.get('birth').split('-')[2]),
                                } , members1 
                   )  
               )
members2

[{'name': '홍길동', 'year': 2000, 'month': 1, 'day': 1},
 {'name': '신길동', 'year': 1995, 'month': 12, 'day': 18}]

In [28]:
'''
예제3. members2를 members1로 전환
'''
members1

[{'name': '홍길동', 'birth': '2000-01-01'},
 {'name': '신길동', 'birth': '1995-12-18'}]

In [29]:
# {'year':2000, 'month':1,'day':1}  => '2025-01-01'
def join_date(data):
    return "{}-{:02}-{:02}".format(data.get('year'), data.get('month'), data.get('day'))
join_date({'year':2000, 'month':9,'day':9})

'2000-09-09'

In [30]:
# {'year':2000, 'month':1,'day':1}  => '2025-01-01'
def join_date(data):
    return "{year}-{month:02}-{day:02}".format(**data)
join_date({'year':2000, 'month':9,'day':9})

'2000-09-09'

In [31]:
# {'year':2000, 'month':1,'day':1}  => {'birth':'2025-01-01'}
def join_date(data):
    return {"birth" : "{year}-{month:02}-{day:02}".format(**data)}
join_date({'year':2000, 'month':9,'day':9})

{'birth': '2000-09-09'}

In [34]:
# {'name':'hong', year':2000, 'month':1,'day':1}  => {'name':'hong',birth':'2025-01-01'}
def members_preprocessing(member):
    return {
        'name': member.get('name'),
        'birth':"{year}-{month:02}-{day:02}".format(**member)
    }
members_preprocessing({'name':'hong', 'year':2000, 'month':1,'day':1})

{'name': 'hong', 'birth': '2000-01-01'}

In [36]:
list(map(lambda member : {
        'name': member.get('name'),
        'birth':"{year}-{month:02}-{day:02}".format(**member)
        }, members2))

[{'name': '홍길동', 'birth': '2000-01-01'},
 {'name': '신길동', 'birth': '1995-12-18'}]

### (2) filter

In [37]:
def filter_template(func, L=[]):
    result = []
    for item in L:
        if func(item):
            result.append(item)
    return result

In [38]:
list_data = [1,2,3,4,5,6,7,8,9]
def odd_chk(value):
    return value%2!=0
#     if value%2:
#         return True
#     else:
#         return False
filter_template(lambda value : value%2!=0, list_data)

[1, 3, 5, 7, 9]

In [39]:
# 리스트컴프리헨션
[value for value in list_data if value%2!=0]

[1, 3, 5, 7, 9]

In [41]:
list(filter(lambda value : value%2!=0, list_data))

[1, 3, 5, 7, 9]

In [43]:
# 예제 : 다음 리스트에서 소수점 이하가 0인 수만 추출하시오(filter/리스트컴프리헨션)
L = [1, 1.2, 1.5, 3.0, 10.5, 100, -2.0, -12.2]
list(filter(lambda x : x%1==0, L))

[1, 3.0, 100, -2.0]

In [44]:
[item for item in L if item%1==0]

[1, 3.0, 100, -2.0]

### (3) sort

In [46]:
p = [10, 3, 6, 1]
p.sort(reverse=True)
p

[10, 6, 3, 1]

In [47]:
# 무조건 0번째 item을 기준으로 오름차순 정렬
pairs = [(2, 'two'), (1, 'one'), (3, 'three'), (4, 'four')]
pairs.sort()
pairs

[(1, 'one'), (2, 'two'), (3, 'three'), (4, 'four')]

In [50]:
# 1번째 item 기준으로 내림차순 정렬
pairs.sort(key=lambda data:data[1], reverse=True)
pairs

[(2, 'two'), (3, 'three'), (1, 'one'), (4, 'four')]

In [52]:
# 0번 item이 큰 순(오름차순)
number_2d = [[9,9], [1, 100], [10,200]]
number_2d.sort()
number_2d
# 합이 큰순으로 정렬

[[1, 100], [9, 9], [10, 200]]