In [1]:
from IPython.display import display, HTML
display(HTML("""
<style>
div.container{width:99% !important;}
div.cell.code_cell.rendered{width:100%;}
div.input_prompt{padding:0px;}
div.CodeMirror {font-family:Consolas; font-size:22pt;}
div.text_cell_render.rendered_html{font-size:18pt;}
div.output {font-size:22pt; font-weight:bold;}
div.input {font-family:Consolas; font-size:22pt;}
div.prompt {min-width:70px;}
div#toc-wrapper{padding-top:120px;}
div.text_cell_render ul li{font-size:22pt;padding:5px;}
table.dataframe{font-size:22px;}
</style>
"""))

<b><font size="7" color="red">ch11. 데이터프레임과 시리즈(Pandas)</font></b>
# 9절 데이터그룹화 및 집계

In [4]:
from statsmodels.api import datasets
iris = datasets.get_rdataset('iris').data
print(iris.shape)
iris.iloc[[0,49,50,99,100,149]]

(150, 5)

     Sepal.Length  ...     Species
0             5.1  ...      setosa
49            5.0  ...      setosa
50            7.0  ...  versicolor
99            5.7  ...  versicolor
100           6.3  ...   virginica
149           5.9  ...   virginica

[6 rows x 5 columns]

# 9.1 groupby
cf. pivot_table

In [11]:
# 1) 그룹화방법1
#    df.groupby(by=[그룹핑할 열])[[함수적용해서출력할열들]].기초통계함수()
    # [[함수적용해서출력할열들]] 생략시 모든 열에 적용됨
iris_grouped = iris.groupby(by='Species')
iris_grouped = iris.groupby(by=iris.Species)
iris_grouped_sum = iris_grouped.sum()
iris_grouped_sum # iris.groupby(by='Species').sum()

            Sepal.Length  ...  Petal.Width
Species                   ...
setosa             250.3  ...         12.3
versicolor         296.8  ...         66.3
virginica          329.4  ...        101.3

[3 rows x 4 columns]

In [12]:
# setosa와 virginica의 종별 합
iris_grouped_sum.loc[['setosa', 'virginica']]

           Sepal.Length  ...  Petal.Width
Species                  ...
setosa            250.3  ...         12.3
virginica         329.4  ...        101.3

[2 rows x 4 columns]

In [17]:
iris_grouped_sum.reset_index(inplace=True)
iris_grouped_sum

      Species  ...  Petal.Width
0      setosa  ...         12.3
1  versicolor  ...         66.3
2   virginica  ...        101.3

[3 rows x 5 columns]

In [20]:
# setosa와 virginica의 종별 합
iris_grouped_sum[(iris_grouped_sum['Species']=='setosa' ) | 
                 (iris_grouped_sum['Species']=='virginica' )]

     Species  ...  Petal.Width
0     setosa  ...         12.3
2  virginica  ...        101.3

[2 rows x 5 columns]

In [21]:
iris_grouped_sum[iris_grouped_sum['Species'].isin(['setosa','virginica'])]

     Species  ...  Petal.Width
0     setosa  ...         12.3
2  virginica  ...        101.3

[2 rows x 5 columns]

In [23]:
# 1) 그룹화방법1-1 : 그룹핑할 때 index를 컬럼으로 편입
#    df.groupby(by=[그룹핑할 열], as_index=False)[[함수적용해서출력할열들]].기초통계함수()
    # [[함수적용해서출력할열들]] 생략시 모든 열에 적용됨
iris.groupby('Species', as_index=False).sum()

      Species  ...  Petal.Width
0      setosa  ...         12.3
1  versicolor  ...         66.3
2   virginica  ...        101.3

[3 rows x 5 columns]