In [1]:
from IPython.display import display, HTML
display(HTML("""
<style>
div.container{width:99% !important;}
div.cell.code_cell.rendered{width:100%;}
div.input_prompt{padding:0px;}
div.CodeMirror {font-family:Consolas; font-size:24pt;}
div.text_cell_render.rendered_html{font-size:20pt;}
div.text_cell_render ul li{font-size:22pt; line-height:30px;}
div.output {font-size:24pt; font-weight:bold;}
div.input {font-family:Consolas; font-size:24pt;}
div.prompt {min-width:70px;}
div#toc-wrapper{padding-top:120px;}
div.text_cell_render ul li{font-size:24pt;padding:5px;}
table.dataframe{font-size:24px;}
</style>
"""))

In [2]:
import pandas as pd
import numpy as np
import sys # 최대 정수
from tensorflow.keras.utils import to_categorical # to_categorical() : 분류분석시 y데이터 원핫인코딩
from tensorflow.keras.models import Sequential # 모델 생성
from tensorflow.keras.layers import Dense, Input
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler, MinMaxScaler
from sklearn.metrics import confusion_matrix
from sklearn.model_selection import train_test_split # 데이터 분리

# 이진분류(로지스틱 회귀분석)
- 1. 데이터셋 생성 & 전처리
    * 엑셀 -> 데이터프레임 -> ?처리(결측치로 전환하여 결측치처리) -> X, y분리
      -> X변수의 scale 조정 -> train_test_split()이용하여 학습셋과 테스트셋분리
- 2. 모델생성(입력13, 출력1) & 학습과정 설정 & 학습
- 3. 모델평가(그래프, 평가, 혼동행렬==교차표)
- 4. 모델 사용

In [ ]:
'''
age 나이 (세)
sex 성별
    1 : 남성
    0 : 여성
cp (chest pain type) 가슴 통증(흉통) 타입
    1 : typical angina (전형적 협심증)
    2 : atypical angina (비전형적 협심증)
    3 : non-anginal pain (심장 관련이 아닌 흉통)
    4 : asymptomatic (증상 없음)
treshtbps (resting blood pressure) 안정 시 수축기 혈압 (mm Hg)
    병원 처음 내원했을 때 잰 혈압이라고 보면 됨
chol (serum cholesterol) 혈청 콜레스테롤 수치 (mg/dl)
    여기 보니까 ?가 있어서, 일부 결측값이 문자로 들어가 있는 상태야
fbs (fasting blood sugar) 공복 혈당 > 120 mg/dl 여부
    1 : 공복 혈당 120 초과 (고혈당)
    0 : 아니면 0
restecg (resting electrocardiographic results) 안정시 심전도 결과
    0 : 정상
    1 : ST-T wave 이상 (ST-T 파 이상, T wave 반전 등)
    2 : LVH 가능성 (좌심실 비대 소견 등)
thalach (maximum heart rate achieved) 운동 검사에서 기록된 최대 심박수
exang (exercise induced angina) 운동으로 유발된 협심증 여부
    1 : 운동 시 흉통 있음
    0 : 없음
oldpeak 운동으로 인해 발생한 ST 절 하강 정도 (depression)
    숫자가 클수록 보통 심장 허혈 가능성↑로 봄
slope (slope of peak exercise ST segment) 운동 시 ST 세그먼트 기울기
    1 : upsloping (상승형)
    2 : flat (평평)
    3 : downsloping (하강형)
ca 조영제(조영술)에서 보이는 주요 관상동맥 수 (0~3)
    0이면 문제 있는 관상동맥이 없는 것, 
    숫자가 클수록 문제 있는 혈관 수가 많다고 보면 됨
    여기에도 ? 값 좀 섞여 있음
hsl (보통 다른 데이터셋에서는 thal) 아마 **thalassemia 관련 검사 결과(thal)**를 의미
    3 : normal
    6 : fixed defect (고정 결손)
    7 : reversible defect (가역 결손)
    여기도 숫자가 이런 패턴이라, 같은 의미로 봐도 될 듯
heartDisease (target) 심장질환 유무 (목표 변수)
'''

## 1. 데이터셋 생성 & 전처리
엑셀 -> 데이터프레임 -> ?처리(결측치로 전환하여 결측치처리) -> X, y분리 -> X변수의 scale 조정 -> train_test_split()이용하여 학습셋과 테스트셋분리

In [11]:
# 아나콘다 프롬프트에서 ml-dl-nlp가상환경(conda activate ml-dl-nlp)으로 간 후
# pip install openpyxl
df = pd.read_excel('data/heart-disease.xlsx', 
                   sheet_name='processed.cleveland'
                  )
df.info()
#df.isnull().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   age           303 non-null    int64
 1   sex           303 non-null    int64
 2   cp            303 non-null    int64
 3   treshtbps     303 non-null    int64
 4   chol          303 non-null    object
 5   fbs           303 non-null    int64
 6   restecg       303 non-null    int64
 7   thalach       303 non-null    int64
 8   exang         303 non-null    int64
 9   oldpeak       303 non-null    float64
 10  slope         303 non-null    int64
 11  ca            303 non-null    object
 12  hsl           303 non-null    object
 13  heartDisease  303 non-null    int64
dtypes: float64(1), int64(10), object(3)
memory usage: 33.3+ KB

In [13]:
df.isin(['?']).sum()

age             0
sex             0
cp              0
treshtbps       0
chol            1
fbs             0
restecg         0
thalach         0
exang           0
oldpeak         0
slope           0
ca              4
hsl             2
heartDisease    0
dtype: int64

In [21]:
# '?'가 포함된 데이터 추출 (chol, ca, hsl) : 7행
df[(df['chol']=='?') | (df['ca']=='?') | (df['hsl']=='?')]

     age  sex  cp  treshtbps chol  fbs  restecg  thalach  exang  oldpeak  slope ca hsl  heartDisease
2     67    1   4        120    ?    0        2      129      1      2.6      2  2   7             1
87    53    0   3        128  216    0        2      115      0      0.0      1  0   ?             0
166   52    1   3        138  223    0        0      169      0      0.0      1  ?   3             0
192   43    1   4        132  247    1        2      143      1      0.1      2  ?   7             1
266   52    1   4        128  204    1        0      156      1      1.0      2  0   ?             1
287   58    1   2        125  220    0        0      144      0      0.4      2  ?   7             0
302   38    1   3        138  175    0        0      173      0      0.0      1  ?   3             0

In [23]:
# ?를 결측치(np.nan)로 대체 -> 결측치 처리(삭제)
df.replace('?', np.nan, inplace=True)
df[(df['chol']=='?') | (df['ca']=='?') | (df['hsl']=='?')]

Empty DataFrame
Columns: [age, sex, cp, treshtbps, chol, fbs, restecg, thalach, exang, oldpeak, slope, ca, hsl, heartDisease]
Index: []

In [30]:
# 결측치가 포함된 데이터 추출
df[df.isna().any(axis=1)]

     age  sex  cp  treshtbps   chol  fbs  restecg  thalach  exang  oldpeak  slope   ca  hsl  heartDisease
2     67    1   4        120    NaN    0        2      129      1      2.6      2  2.0  7.0             1
87    53    0   3        128  216.0    0        2      115      0      0.0      1  0.0  NaN             0
166   52    1   3        138  223.0    0        0      169      0      0.0      1  NaN  3.0             0
192   43    1   4        132  247.0    1        2      143      1      0.1      2  NaN  7.0             1
266   52    1   4        128  204.0    1        0      156      1      1.0      2  0.0  NaN             1
287   58    1   2        125  220.0    0        0      144      0      0.4      2  NaN  7.0             0
302   38    1   3        138  175.0    0        0      173      0      0.0      1  NaN  3.0             0

In [32]:
# 결측치 처리:대체(fillna), 삭제(dropna)
df.dropna(how='any') # 결측치가 한열이라도 있으면 삭제

     age  sex  cp  treshtbps   chol  fbs  restecg  thalach  exang  oldpeak  slope   ca  hsl  heartDisease
0     63    1   1        145  233.0    1        2      150      0      2.3      3  0.0  6.0             0
1     67    1   4        160  286.0    0        0      108      1      1.5      2  3.0  3.0             1
3     37    1   3        130  250.0    0        0      187      0      3.5      3  0.0  3.0             0
4     41    0   2        130  204.0    0        2      172      0      1.4      1  0.0  3.0             0
5     56    1   2        120  236.0    0        0      178      0      0.8      1  0.0  3.0             0
..   ...  ...  ..        ...    ...  ...      ...      ...    ...      ...    ...  ...  ...           ...
297   57    0   4        140  241.0    0        0      123      1      0.2      2  0.0  7.0             1
298   45    1   1        110  264.0    0        0      132      0      1.2      2  0.0  7.0             1
299   68    1   4        144  193.0    1        0      141      0      3.4      2  2.0  7.0             1
300   57    1   4        130  131.0    0        0      115      1      1.2      2  1.0  7.0             1
301   57    0   2        130  236.0    0        2      174      0      0.0      2  1.0  3.0             1

[296 rows x 14 columns]