In [1]:
from IPython.display import display, HTML
display(HTML("""
<style>
div.container{width:99% !important;}
div.cell.code_cell.rendered{width:100%;}
div.input_prompt{padding:0px;}
div.CodeMirror {font-family:Consolas; font-size:24pt;}
div.text_cell_render.rendered_html{font-size:20pt;}
div.text_cell_render ul li, code{font-size:22pt; line-height:30px;}
div.output {font-size:24pt; font-weight:bold;}
div.input {font-family:Consolas; font-size:24pt;}
div.prompt {min-width:70px;}
div#toc-wrapper{padding-top:120px;}
div.text_cell_render ul li{font-size:24pt;padding:5px;}
table.dataframe{font-size:24px;}
</style>
"""))

- 1. 데이터 셋 생성(seaborn) & 전처리
    X, y(setosa,versicolor,virginica라벨인코딩-원핫코딩)분리 -> train과 test셋 분리(8:2)
- 2. 모델 구성(입력4 -> 출력3, layer5: 4->64->128->50->30->3) 
- 3. 모델 학습과정 설정
- 4. 모델 학습(Earlystopping, ModelCheckpoint추가)
- 5. 모델평가(시각화, 현재모델과 저장된 최고의 모델 평가, 교차표==혼동행렬)
- 6. 모델예측/저장

In [9]:
encoder = LabelEncoder()
iris['y'] = encoder.fit_transform(iris['species'])
display(iris.loc[::50])
to_categorical(iris['y'])[::50]

     sepal_length  sepal_width  petal_length  petal_width     species  y
0             5.1          3.5           1.4          0.2      setosa  0
50            7.0          3.2           4.7          1.4  versicolor  1
100           6.3          3.3           6.0          2.5   virginica  2

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]], dtype=float32)

In [10]:
# 문자변수 원핫인코딩 방법2
pd.get_dummies(iris.species)[::50]

     setosa  versicolor  virginica
0         1           0          0
50        0           1          0
100       0           0          1

In [12]:
# 1. 데이터 생성 및 전처리
iris = sns.load_dataset('iris')
# 독립변수와 종속변수 분리
iris_X = iris.iloc[:, :-1]
iris_y = pd.get_dummiesiris.ilo
print(iris_X.shape, iris_y.shape)
X_train, X_test, Y_train, Y_test = train_test_split(iris_X, iris_Y,
                                                   test_size=0.2,
                                                   stratify=iris_Y, # 층화추출
                                                   random_state=4)

(150, 4) (150,)

NameError: name 'iris_Y' is not defined